[submodule "app/Modules/Product"]
	path = app/Modules/Product
	url = https://github.com/4nkitsethi/ws-products.git
[submodule "app/Modules/Blog"]
	path = app/Modules/Blog
	url = https://github.com/4nkitsethi/ws-blogs.git
